[build]
target = "riscv64gc-unknown-none-elf"


[target.riscv64gc-unknown-none-elf]
rustflags = [
    "-Clink-arg=-Tsrc/hal/arch/riscv/linker.ld",
    "-Cforce-frame-pointers=yes",
    "-Clink-arg=-static",
]